* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: #02dcd8;
}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(135deg, #02dcd8, #b70932, #ffb3d9);
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 36px;
    font-weight: 500;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: #02dcd8;
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 25px;
    line-height: 1.3;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-sci {
    display: flex;
    align-items: center;
}

.home-sci a {
    display: inline-flex;  
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #02dcd8;
    border-radius: 50%;
    font-size: 30px;
    color: #02dcd8;
    text-decoration: none;
    transition: .5s ease;
    margin: 30px 35px 30px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    
}

.home-sci a:hover {
    background: #02dcd8;
    color: #fff;
    box-shadow: 0 0 5px #02dcd8, 0 0 25px #02dcd8,
    0 0 50px #02dcd8, 0 0 100px #02dcd8,
    0 0 200px #02dcd8,
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: #02dcd8;
    border-radius: 40px;
    font-size: 21px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 25px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn-box:hover {
    box-shadow: 0 0 20px #02dcd8, 0 0 30px #02dcd8;
}


/* 🔮 FOTO CIRCULAR COM EFEITO NEON */
.home-img {
    position: relative;
    width: 400px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, 0 0 20px #02dcd8, #b70932, #ffb3d9);
    padding: 8px;
    box-shadow: 0 0 25px #02dcd8, 0 0 50px #ffb3d9, 0 0 100px #b70932;
}

.home-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}